  $primary-light: #edf2fb;
  $primary-dark: #16425b;
  $decor-color: #cdb4db;
  $right-color: #19FF40;;
  $wrong-color: #a4161a;
  $simple-white: #ffffff;

  $decor-color-rgb: rgb(205, 180, 219);
  $primary-dark-rgb: rgb(22, 66, 91);
  $simple-black-rgb: rgb(0,0,0, .5);


